In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# A Simple Synthetic Dataset

In [2]:
n_rows = 20

indicator = np.random.uniform(-1.0, 1.0, size=20)
noise = np.random.normal(0, 2, size=20)
slope = 0.5
intercept = 0.3
price_change = slope * indicator + intercept + noise

df = pd.DataFrame({"indicator": indicator,"price_change": price_change})

Our only feature is called "indicator" and we use "price_change" as our target (something we want to predict).

In [4]:
df['predictions'] = df.indicator * 0.1 + 0.2

df['absolute_diff'] = np.abs(df.price_change - df.predictions)
df['squared_diff'] = np.power(df.price_change - df.predictions, 2)

In [11]:
df.head()

   indicator  price_change  predictions  absolute_diff  squared_diff
0   0.807915     -1.137766     0.280791       1.418557      2.012305
1   0.429039      0.583698     0.242904       0.340794      0.116140
2  -0.534112      1.394980     0.146589       1.248391      1.558480
3   0.759182      2.531521     0.275918       2.255603      5.087743
4   0.654192      1.746258     0.265419       1.480839      2.192883

In [5]:
mean_absolute_error = np.mean(df.absolute_diff)

In [6]:
mean_squared_error = np.mean(df.squared_diff)

In [8]:
df['profit'] = df.price_change * df.predictions

In [10]:
mean_profit = np.mean(df.profit)
std_profit = np.std(df.profit)

In [11]:
sharpe_ratio = mean_profit / std_profit

In [12]:
df.head()

   indicator  price_change  predictions  absolute_diff  squared_diff    profit
0   0.018856     -2.990149    -0.099015       2.891134      8.358657  0.296069
1   0.935220     -0.999008     0.100099       1.099107      1.208036 -0.100000
2   0.003842     -0.997311     0.100269       1.097580      1.204681 -0.099999
3  -0.967632      1.424560     0.342456       1.082104      1.170949  0.487849
4  -0.012267      2.126956     0.412696       1.714260      2.938687  0.877785

In [13]:
sharpe_ratio

0.5441903433010148